@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("../../public/Inter-VariableFont_opsz\,wght.ttf");
}

*{
  font-family: "Inter", sans-serif
}
/* globals.css or your main CSS file */
html, body {
  overflow-x: hidden; /* hides horizontal scroll */
}
